# Copyright (c) 2021-2025 TiaC Systems
# SPDX-License-Identifier: Unlicense

name: Sync Tooling Forks

on:
  schedule: # At 01:00.
    - cron: '0 1 * * *'
  workflow_dispatch: # And manually on button click.

jobs:
  git-sync:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        repo:
          - git-sync
          - ssh-setup
          - zephyr-setup
        branch:
          - main
          - master
          - "refs/tags/*"

    steps:
      - name: git-sync-tooling-git-sync
        uses: tiacsys/git-sync@v3
        with:
          source_repo: "git@github.com:wei/${{ matrix.repo }}.git"
          source_branch: "${{ matrix.branch }}"
          destination_repo: "git@github.com:tiacsys/${{ matrix.repo }}.git"
          destination_branch: "${{ matrix.branch }}"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_TOOLING_GIT_SYNC }}
        if: ${{ matrix.repo == 'git-sync' && matrix.branch != 'main' }}  # no main

      - name: git-sync-tooling-ssh-setup
        uses: tiacsys/git-sync@v3
        with:
          source_repo: "git@github.com:MrSquaare/${{ matrix.repo }}-action.git"
          source_branch: "${{ matrix.branch }}"
          destination_repo: "git@github.com:tiacsys/${{ matrix.repo }}.git"
          destination_branch: "${{ matrix.branch }}"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_TOOLING_SSH_SETUP }}
        if: ${{ matrix.repo == 'ssh-setup' && matrix.branch != 'master' }}  # no master

      - name: git-sync-tooling-zephyr-setup
        uses: tiacsys/git-sync@v3
        with:
          source_repo: "git@github.com:zephyrproject-rtos/action-${{ matrix.repo }}.git"
          source_branch: "${{ matrix.branch }}"
          destination_repo: "git@github.com:tiacsys/${{ matrix.repo }}.git"
          destination_branch: "${{ matrix.branch }}"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_TOOLING_ZEPHYR_SETUP }}
        if: ${{ matrix.repo == 'zephyr-setup' && matrix.branch != 'master' }}  # no master
