# Copyright (c) 2021-2026 TiaC Systems
# SPDX-License-Identifier: Unlicense

name: Sync Sphinx Forks

on:
  schedule: # At 01:05.
    - cron: '5 1 * * *'
  workflow_dispatch: # And manually on button click.

jobs:
  git-sync:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        repo:
          - sphinx-revealjs
        branch:
          - master
          - next
          - "refs/tags/*"

    steps:
      - name: git-sync-sphinx-revealjs
        uses: tiacsys/git-sync@v3
        with:
          source_repo: "git@github.com:attakei/${{ matrix.repo }}.git"
          source_branch: "${{ matrix.branch }}"
          destination_repo: "git@github.com:tiacsys/${{ matrix.repo }}.git"
          destination_branch: "${{ matrix.branch }}"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_SPHINX }}
        if: ${{ matrix.repo == 'sphinx-revealjs' }}

  git-rebase:
    runs-on: ubuntu-latest

    needs: git-sync

    strategy:
      matrix:
        repo:
          - sphinx-revealjs
        branch:
          - toctree

    steps:
      - name: git-rebase-sphinx-revealjs
        uses: tiacsys/git-rebase@v1
        with:
          repo: "git@github.com:tiacsys/${{ matrix.repo }}.git"
          source_branch: "${{ matrix.branch }}"
          destination_branch: "master"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_SPHINX }}
        if: ${{ matrix.repo == 'sphinx-revealjs' }}
