# Copyright (c) 2021-2026 TiaC Systems
# SPDX-License-Identifier: Unlicense

name: Sync u-blox Project Forks

on:
  schedule: # At 02:00.
    - cron: '0 2 * * *'
  workflow_dispatch: # And manually on button click.

jobs:
  git-sync:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        repo:
          - ubxlib
        branch:
          - master
          - "refs/tags/*"

    steps:
      - name: git-sync-ubxlib
        uses: tiacsys/git-sync@v3
        with:
          source_repo: "git@github.com:u-blox/${{ matrix.repo }}.git"
          source_branch: "${{ matrix.branch }}"
          destination_repo: "git@github.com:tiacsys/${{ matrix.repo }}.git"
          destination_branch: "${{ matrix.branch }}"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_UBXLIB }}
        if: ${{ matrix.repo == 'ubxlib' }}

  git-rebase:
    runs-on: ubuntu-latest

    needs: git-sync

    strategy:
      matrix:
        repo:
          - ubxlib
        branch:
          - master

    steps:
      - name: git-rebase-ubxlib
        uses: tiacsys/git-rebase@v1
        with:
          repo: "git@github.com:tiacsys/${{ matrix.repo }}.git"
          source_branch: "tiacsys/${{ matrix.branch }}"
          destination_branch: "${{ matrix.branch }}"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_UBXLIB }}
        if: ${{ matrix.repo == 'ubxlib' }}

      - name: git-rebase-ubxlib@itd
        uses: tiacsys/git-rebase@v1
        with:
          repo: "git@github.com:tiacsys/${{ matrix.repo }}.git"
          source_branch: "itd/${{ matrix.branch }}"
          destination_branch: "${{ matrix.branch }}"
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_UBXLIB }}
        if: ${{ matrix.repo == 'ubxlib' }}
